    <footer>
      <div class="footer-navigation">
        <section class="rubieken">
          <h4>Rubieken</h4>
          <ul>
            <li>
              <a href="">Binnenland</a>
            </li>
            <li>
              <a href="">Buitenland</a>
            </li>
            <li>
              <a href="">Politiek</a>
            </li>
            <li>
              <a href="">Economie</a>
            </li>
            <li>Wetenschap</li>
            <li>Columns</li>
            <li>Podcast</li>
            <li>Kunst & Media</li>
          </ul>
        </section>

        <section class="navigeer">
          <h4>Navigeer</h4>
          <ul>
            <li>Voorpagina</li>
            <li>Voor Alumni</li>
            <li>Colofon</li>
            <li>Over Red Pers</li>
            <li>Meedoen</li>
            <li>Contact</li>
            <li>Doneren</li>
          </ul>
        </section>

        <section class="service">
          <h4>Service</h4>
          <ul>
            <li>Aanmelden</li>
            <li>Account Aanmaken</li>
            <li>Wachtwoord Vergeten?</li>
            <li>Tip de redactie</li>
            <li>Meld een fout</li>
          </ul>
        </section>

        <section class="meer-red-pers">
          <h4>Meer Red Pers</h4>
          <ul>
            <li>Nieuwsbrief</li>
            <li>Linkedin</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>X (Twitter)</li>
          </ul>
        </section>
      </div>
    </footer>
  </body>
</html>