<nav>
  <ul>
    <li>
      <a href="/">Voorpagina</a>
    </li>
  <% categories.forEach(function(category) { %>
    <li>
      <a href="/categorie/<%= category.slug %>"> <%= category.name %></a>
    </li>
  <% }) %>  
  </ul>
</nav>