<nav>
  <ul>
    <li>
      <a href="/">Voorpagina</a>
    </li>
  <% categories.forEach(function(categorie) { %>
    <li>
      <a href="/categorie/<%= categorie.slug %>"> <%= categorie.name %></a>
    </li>
  <% }) %>  
  </ul>
</nav>