main{
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h1{
  text-align: center;
}

.frontpage-card{
  margin: 1rem;
  border: var(--border);
  max-width: 400px;

  & img{
    width: var(--thumbnail-width);
    height: var(--thumbnail-height);
    object-fit: cover;
    object-position: center;
    border-bottom: var(--border);
  }

  & h2{
    padding: 0 .5em 3em;
  }

  & .bottom-tag{
    display: flex;
    justify-content: space-between;
    border-top: var(--border);
  }
}