main{
 margin: 1rem; 
}

article{
  max-width: 800px;
  margin: 0 auto;

  & h1{
    text-align: center;
    font-size: 2.2rem;
  }

  & img{
    width: 85vw;
    max-width: 700px;
    max-height: 600px;
    object-fit: cover;
  }

  & .excerpt{
    & p{
      font-size: 1.5rem;
    }
  }

  & .content{
    & h4, p{
    font-size: 1.25rem;
    }

    & img[style]{
      width: 85vw !important;
    }

    & ul{
      padding: revert;
    }
  }
}

